body{
    background-color:black;
    color:white;
}
#pra {
    height:110%;
    width:100%;
    border:2px solid white;
    text-align:center;   
}
#pra button{
    height:40px;
    width:100px;
    border-radius:30px;
    margin:20px;
}